
#top-bar {
  width: 100%;
  
  border-left: 3px solid #5c96ca;
  border-right: 3px solid #5c96ca;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  padding-left: 1.25rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

#top-bar > .logo__serch {
  color: #5c96ca;
  font-size: 1.5rem;
  cursor: pointer;
}

#top-bar > .search-bar {
  background-color: transparent;
  border: none;
  color: #000;
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
  min-width: 0px;
}

#top-bar > .search-bar::placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

/* #top-bar > .account-button {
  border: none;
  outline: none;
  color: #5c96ca;
  font-size: 1rem; 
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
} */
.d{
  font-size: 1rem;
}

